# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Models & Data
models/*.h5
models/densenet121_savedmodel/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Results
results/*.png
results/*.jpg

# Environment
.env
